In [60]:
#Functions
def say_hello():
    print('Hello there!')
    print('How are you?')
say_hello()

Hello there!
How are you?

In [61]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [62]:
even_list = filter_even([1, 2, 3, 4, 5, 6, 7])

In [63]:
even_list

[2, 4, 6]

In [64]:
def loan_emi(amount, duration):
    emi = amount / duration
    return emi
emi1 = loan_emi(1260000, 8*12)
emi1

13125.0

In [65]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    return emi
loan_emi(amount=1260000, duration=8*12, rate=0.1/12, down_payment=3e5)

14567.19753389219

In [66]:
import math
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [67]:
cost_of_house = 800000
home_loan_duration = 6*12 # months
home_loan_rate = 0.07/12 # monthly
home_down_payment = .25 * 800000

emi_house = loan_emi(amount=cost_of_house,
                     duration=home_loan_duration,
                     rate=home_loan_rate, 
                     down_payment=home_down_payment)

emi_house

10229.403883181738

In [68]:
cost_of_car = 60000
car_loan_duration = 1*12 # months
car_loan_rate = .12/12 # monthly

emi_car = loan_emi(amount=cost_of_car, 
                   duration=car_loan_duration, 
                   rate=car_loan_rate)

emi_car

5330.9273207005

In [69]:
#Error Handling
"""""Like try catch,
we have here try, except
"""
try:
    print("Now computing the result..")
    result = 5 / 0
    print("Computation was completed successfully")
except ZeroDivisionError:
    print("Failed to compute result because you were trying to divide by zero")
    result = None

print(result)

Now computing the result..
Failed to compute result because you were trying to divide by zero
None

In [70]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [71]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0./12)
emi_without_interest

ZeroDivisionError: float division by zero

In [ ]:
#Documenting functions using Docstrings
def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

help(loan_emi)

Help on function loan_emi in module __main__:

loan_emi(amount, duration, rate, down_payment=0)
    Calculates the equal montly installment (EMI) for a loan.

    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)

In [ ]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0./12)
emi_without_interest

834

## Exercise - Data Analysis for Vacation Planning

You're planning a vacation, and you need to decide which city you want to visit. You have shortlisted four cities and identified the return flight cost, daily hotel cost, and weekly car rental cost. While renting a car, you need to pay for entire weeks, even if you return the car sooner.


| City | Return Flight (`$`) | Hotel per day (`$`) | Weekly Car Rental  (`$`) | 
|------|--------------------------|------------------|------------------------|
| Paris|       200                |       20         |          200           |
| London|      250                |       30         |          120           |
| Dubai|       370                |       15         |          80           |
| Mumbai|      450                |       10         |          70           |         


Answer the following questions using the data above:

1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?
2. How does the answer to the previous question change if you change the trip's duration to four days, ten days or two weeks?
3. If your total budget for the trip is `$1000`, which city should you visit to maximize the duration of your trip? Which city should you visit if you want to minimize the duration?
4. How does the answer to the previous question change if your budget is `$600`, `$2000`, or `$1500`?

*Hint: To answer these questions, it will help to define a function `cost_of_trip` with relevant inputs like flight cost, hotel rate, car rental rate, and duration of the trip. You may find the `math.ceil` function useful for calculating the total cost of car rental.*

In [ ]:
import math
def cost_of_trip(return_cost,hotel_per_day,weekly_car_rental,days):
    weeks=math.ceil(days/7)
    total_cost=return_cost+hotel_per_day*days+weekly_car_rental*weeks
    return total_cost

In [ ]:
def compare(Paris_cost,London_cost,Dubai_cost,Mumbai_cost):
    minm=min(Paris_cost,London_cost,Dubai_cost,Mumbai_cost)
    if minm==Paris_cost:
        print("Paris")
    elif minm==London_cost:
        print("London")
    elif minm==Dubai_cost:
        print("Dubai")
    else :
        print("Mumbai")

In [ ]:
def compare_with_days(days):
    Paris_cost=cost_of_trip(200,20,200,days)
    London_cost=cost_of_trip(250,30,120,days)
    Dubai_cost=cost_of_trip(370,15,80,days)
    Mumbai_cost=cost_of_trip(450,10,70,days)
    print("For {} days trip the best option is: ".format(days),end='')
    compare(Paris_cost,London_cost,Dubai_cost,Mumbai_cost)
    return [Paris_cost,London_cost,Dubai_cost,Mumbai_cost]

In [ ]:
array1=compare_with_days(7)
array2=compare_with_days(4)
array3=compare_with_days(10)
array4=compare_with_days(14)

For 7 days trip the best option is: Paris
For 4 days trip the best option is: Paris
For 10 days trip the best option is: Dubai_cost
For 14 days trip the best option is: Mumbai

In [ ]:
def compare_only_cost(days):
    Paris_cost=cost_of_trip(200,20,200,days)
    London_cost=cost_of_trip(250,30,120,days)
    Dubai_cost=cost_of_trip(370,15,80,days)
    Mumbai_cost=cost_of_trip(450,10,70,days)
    return [Paris_cost,London_cost,Dubai_cost,Mumbai_cost]

In [96]:
def Budget_friendly_tour(budget):
    paris_days=0
    dubai_days=0
    mumbai_days=0
    london_days=0
    cnt=0
    costs=[]
    while 1:
        cnt+=1
        costs=compare_only_cost(cnt)
        f=0
        if costs[0]<=budget:
            f=1
            paris_days=cnt
        if costs[1]<=budget:
            f=1
            london_days=cnt
        if costs[2]<=budget:
            f=1
            dubai_days=cnt
        if costs[3]<=budget:
            f=1
            mumbai_days=cnt
        if (f==0): 
            break
    maxm=max(paris_days,london_days,dubai_days,mumbai_days)
    print("Maximum days can be stayed with buget: $ {} is at:  ".format(budget))
    if maxm==paris_days:
        print("Paris,number of days= {} ".format(paris_days))
    if maxm==london_days:
        print("London,number of days={} ".format(london_days))
    if maxm==dubai_days:
        print("Dubai,number of days={} ".format(dubai_days))
    if maxm==mumbai_days :
        print("Mumbai,number of days={} ".format(mumbai_days))

In [97]:
Budget_friendly_tour(1000)
Budget_friendly_tour(600)
Budget_friendly_tour(1500)
Budget_friendly_tour(2000)

Maximum days can be stayed with buget: $ 1000 is at:
Mumbai,number of days=27
Maximum days can be stayed with buget: $ 600 is at:
Paris,number of days= 7
London,number of days=7
Dubai,number of days=7
Mumbai,number of days=7
Maximum days can be stayed with buget: $ 1500 is at:
Mumbai,number of days=49
Maximum days can be stayed with buget: $ 2000 is at:
Mumbai,number of days=77

In [99]:
#File handling
import os
os.getcwd()

'e:\\GitHub\\Machine_Learning_And_AI\\Data_Analysis_with_Python\\data-analysis-with-python-zero-to-pandas course codes'