In [423]:
#Functions
def say_hello():
    print('Hello there!')
    print('How are you?')
say_hello()

Hello there!
How are you?

In [424]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [425]:
even_list = filter_even([1, 2, 3, 4, 5, 6, 7])

In [426]:
even_list

[2, 4, 6]

In [427]:
def loan_emi(amount, duration):
    emi = amount / duration
    return emi
emi1 = loan_emi(1260000, 8*12)
emi1

13125.0

In [428]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    return emi
loan_emi(amount=1260000, duration=8*12, rate=0.1/12, down_payment=3e5)

14567.19753389219

In [429]:
import math
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [430]:
cost_of_house = 800000
home_loan_duration = 6*12 # months
home_loan_rate = 0.07/12 # monthly
home_down_payment = .25 * 800000

emi_house = loan_emi(amount=cost_of_house,
                     duration=home_loan_duration,
                     rate=home_loan_rate, 
                     down_payment=home_down_payment)

emi_house

10229.403883181738

In [431]:
cost_of_car = 60000
car_loan_duration = 1*12 # months
car_loan_rate = .12/12 # monthly

emi_car = loan_emi(amount=cost_of_car, 
                   duration=car_loan_duration, 
                   rate=car_loan_rate)

emi_car

5330.9273207005

In [432]:
#Error Handling
"""""Like try catch,
we have here try, except
"""
try:
    print("Now computing the result..")
    result = 5 / 0
    print("Computation was completed successfully")
except ZeroDivisionError:
    print("Failed to compute result because you were trying to divide by zero")
    result = None

print(result)

Now computing the result..
Failed to compute result because you were trying to divide by zero
None

In [433]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [434]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0./12)
emi_without_interest

ZeroDivisionError: float division by zero

In [ ]:
#Documenting functions using Docstrings
def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

help(loan_emi)

Help on function loan_emi in module __main__:

loan_emi(amount, duration, rate, down_payment=0)
    Calculates the equal montly installment (EMI) for a loan.

    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)

In [ ]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0./12)
emi_without_interest

834

## Exercise - Data Analysis for Vacation Planning

You're planning a vacation, and you need to decide which city you want to visit. You have shortlisted four cities and identified the return flight cost, daily hotel cost, and weekly car rental cost. While renting a car, you need to pay for entire weeks, even if you return the car sooner.


| City | Return Flight (`$`) | Hotel per day (`$`) | Weekly Car Rental  (`$`) | 
|------|--------------------------|------------------|------------------------|
| Paris|       200                |       20         |          200           |
| London|      250                |       30         |          120           |
| Dubai|       370                |       15         |          80           |
| Mumbai|      450                |       10         |          70           |         


Answer the following questions using the data above:

1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?
2. How does the answer to the previous question change if you change the trip's duration to four days, ten days or two weeks?
3. If your total budget for the trip is `$1000`, which city should you visit to maximize the duration of your trip? Which city should you visit if you want to minimize the duration?
4. How does the answer to the previous question change if your budget is `$600`, `$2000`, or `$1500`?

*Hint: To answer these questions, it will help to define a function `cost_of_trip` with relevant inputs like flight cost, hotel rate, car rental rate, and duration of the trip. You may find the `math.ceil` function useful for calculating the total cost of car rental.*

In [ ]:
import math
def cost_of_trip(return_cost,hotel_per_day,weekly_car_rental,days):
    weeks=math.ceil(days/7)
    total_cost=return_cost+hotel_per_day*days+weekly_car_rental*weeks
    return total_cost

In [ ]:
def compare(Paris_cost,London_cost,Dubai_cost,Mumbai_cost):
    minm=min(Paris_cost,London_cost,Dubai_cost,Mumbai_cost)
    if minm==Paris_cost:
        print("Paris")
    elif minm==London_cost:
        print("London")
    elif minm==Dubai_cost:
        print("Dubai")
    else :
        print("Mumbai")

In [ ]:
def compare_with_days(days):
    Paris_cost=cost_of_trip(200,20,200,days)
    London_cost=cost_of_trip(250,30,120,days)
    Dubai_cost=cost_of_trip(370,15,80,days)
    Mumbai_cost=cost_of_trip(450,10,70,days)
    print("For {} days trip the best option is: ".format(days),end='')
    compare(Paris_cost,London_cost,Dubai_cost,Mumbai_cost)
    return [Paris_cost,London_cost,Dubai_cost,Mumbai_cost]

In [ ]:
array1=compare_with_days(7)
array2=compare_with_days(4)
array3=compare_with_days(10)
array4=compare_with_days(14)

For 7 days trip the best option is: Paris
For 4 days trip the best option is: Paris
For 10 days trip the best option is: Dubai_cost
For 14 days trip the best option is: Mumbai

In [ ]:
def compare_only_cost(days):
    Paris_cost=cost_of_trip(200,20,200,days)
    London_cost=cost_of_trip(250,30,120,days)
    Dubai_cost=cost_of_trip(370,15,80,days)
    Mumbai_cost=cost_of_trip(450,10,70,days)
    return [Paris_cost,London_cost,Dubai_cost,Mumbai_cost]

In [ ]:
def Budget_friendly_tour(budget):
    paris_days=0
    dubai_days=0
    mumbai_days=0
    london_days=0
    cnt=0
    costs=[]
    while 1:
        cnt+=1
        costs=compare_only_cost(cnt)
        f=0
        if costs[0]<=budget:
            f=1
            paris_days=cnt
        if costs[1]<=budget:
            f=1
            london_days=cnt
        if costs[2]<=budget:
            f=1
            dubai_days=cnt
        if costs[3]<=budget:
            f=1
            mumbai_days=cnt
        if (f==0): 
            break
    maxm=max(paris_days,london_days,dubai_days,mumbai_days)
    print("Maximum days can be stayed with buget: $ {} is at:  ".format(budget))
    if maxm==paris_days:
        print("Paris,number of days= {} ".format(paris_days))
    if maxm==london_days:
        print("London,number of days={} ".format(london_days))
    if maxm==dubai_days:
        print("Dubai,number of days={} ".format(dubai_days))
    if maxm==mumbai_days :
        print("Mumbai,number of days={} ".format(mumbai_days))

In [ ]:
Budget_friendly_tour(1000)
Budget_friendly_tour(600)
Budget_friendly_tour(1500)
Budget_friendly_tour(2000)

Maximum days can be stayed with buget: $ 1000 is at:
Mumbai,number of days=27
Maximum days can be stayed with buget: $ 600 is at:
Paris,number of days= 7
London,number of days=7
Dubai,number of days=7
Mumbai,number of days=7
Maximum days can be stayed with buget: $ 1500 is at:
Mumbai,number of days=49
Maximum days can be stayed with buget: $ 2000 is at:
Mumbai,number of days=77

In [ ]:
#File handling
import os
os.getcwd()

'e:\\GitHub\\Machine_Learning_And_AI\\Data_Analysis_with_Python\\data-analysis-with-python-zero-to-pandas course codes'

In [ ]:
help(os.listdir)

Help on built-in function listdir in module nt:

listdir(path=None)
    Return a list containing the names of the files in the directory.

    path can be specified as either str, bytes, or a path-like object.  If path is bytes,
      the filenames returned will also be bytes; in all other circumstances
      the filenames returned will be str.
    If path is None, uses the path='.'.
    On some platforms, path may also be specified as an open file descriptor;\
      the file descriptor must refer to a directory.
      If this functionality is unavailable, using it raises NotImplementedError.

    The list is in arbitrary order.  It does not include the special
    entries '.' and '..' even if they are present in the directory.

In [ ]:
os.listdir('.')

['lesson 1', 'Lesson 2', 'Lesson_1.ipynb', 'Lesson_2.ipynb']

In [ ]:
os.listdir('/GitHub/Machine_Learning_And_AI/Data_Analysis_with_Python/data-analysis-with-python-zero-to-pandas course codes/')

['lesson 1', 'Lesson 2', 'Lesson_1.ipynb', 'Lesson_2.ipynb']

In [ ]:
os.makedirs('./data', exist_ok=True)

In [ ]:
'data' in os.listdir('.')

True

In [ ]:
os.listdir('./data')

[]

In [ ]:
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [ ]:
from urllib.request import urlretrieve

In [ ]:
urlretrieve(url1, './data/loans1.txt')

('./data/loans1.txt', <http.client.HTTPMessage at 0x1ed20005a10>)

In [ ]:
urlretrieve(url2, './data/loans2.txt')

('./data/loans2.txt', <http.client.HTTPMessage at 0x1ed20489450>)

In [ ]:
urlretrieve(url3, './data/loans3.txt')

('./data/loans3.txt', <http.client.HTTPMessage at 0x1ed1fff9a90>)

In [ ]:
os.listdir('./data')

['loans1.txt', 'loans2.txt', 'loans3.txt']

## Reading from a file 

To read the contents of a file, we first need to open the file using the built-in `open` function. The `open` function returns a file object and provides several methods for interacting with the file's contents.

In [ ]:
file1 = open('./data/loans1.txt', mode='r')

In [ ]:
file1_contents = file1.read()

In [ ]:
print(file1_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

In [ ]:
file1.close()

## Closing files automatically using `with`

To close a file automatically after you've processed it, you can open it using the `with` statement.

In [ ]:
with open('./data/loans2.txt') as file2:
    file2_contents = file2.read()
    print(file2_contents)

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

In [ ]:
file2.read()

ValueError: I/O operation on closed file.

## Reading a file line by line


File objects provide a `readlines` method to read a file line-by-line.

In [ ]:
with open('./data/loans3.txt', 'r') as file3:
    file3_lines = file3.readlines()
file3_lines

['amount,duration,rate,down_payment\n',
 '45230,48,0.07,4300\n',
 '883000,16,0.14,\n',
 '100000,12,0.1,\n',
 '728400,120,0.12,100000\n',
 '3637400,240,0.06,\n',
 '82900,90,0.07,8900\n',
 '316000,16,0.13,\n',
 '15230,48,0.08,4300\n',
 '991360,99,0.08,\n',
 '323000,27,0.09,4720010000,36,0.08,20000\n',
 '528400,120,0.11,100000\n',
 '8633400,240,0.06,\n',
 '12900,90,0.08,8900']

## Processing data from files

Before performing any operations on the data stored in a file, we need to convert the file's contents from one large string into Python data types. For the file `loans1.txt` containing information about loans in a CSV format, we can do the following:

* Read the file line by line
* Parse the first line to get a list of the column names or headers
* Split each remaining line and convert each value into a float
* Create a dictionary for each loan using the headers as keys
* Create a list of dictionaries to keep track of all the loans

Since we will perform the same operations for multiple files, it would be useful to define a function `read_csv`. We'll also define some helper functions to build up the functionality step by step. 

Let's start by defining a function `parse_header` that takes a line as input and returns a list of column headers.

In [ ]:
def parse_headers(header_line):
    return header_line.strip().split(',')

In [ ]:
headers = parse_headers(file3_lines[0])
headers

['amount', 'duration', 'rate', 'down_payment']

In [ ]:
def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        values.append(float(item))
    return values

In [ ]:
parse_values(file3_lines[1])

[45230.0, 48.0, 0.07, 4300.0]

In [ ]:
file3_lines[2]

'883000,16,0.14,\n'

In [ ]:
parse_values(file3_lines[2])

ValueError: could not convert string to float: ''

In [ ]:
def parse_values_op(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            #continue
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

In [ ]:
parse_values_op(file3_lines[2])

[883000.0, 16.0, 0.14]

In [ ]:
def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

In [ ]:
for item in zip([1,2,3], ['a', 'b', 'c']):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
values1 = parse_values(file3_lines[1])
create_item_dict(values1, headers)

{'amount': 45230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}

In [ ]:
with open('./data/loans2.txt') as file2:
    print(file2.read())

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

### File handling over view

The file is read and converted to a list of dictionaries, as expected. The `read_csv` file is generic enough that it can parse any file in the CSV format, with any number of rows or columns. Here's the full code for `read_csv` along with the helper functions:

In [ ]:
def parse_headers(header_line):
    return header_line.strip().split(',')

def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

def read_csv(path):
    result = []
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            values = parse_values(data_line)
            # Create a dictionary using values & headers
            item_dict = create_item_dict(values, headers)
            # Add the dictionary to the result
            result.append(item_dict)
    return result

In [ ]:
import math

def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In [ ]:
loans2 = read_csv('./data/loans2.txt')

In [ ]:
for loan in loans2:
    loan['emi'] = loan_emi(loan['amount'], 
                           loan['duration'], 
                           loan['rate']/12, # the CSV contains yearly rates
                           loan['down_payment'])

In [ ]:
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'emi': 10034},
 {'amount': 4633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 33196},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'emi': 504},
 {'amount': 983000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'emi': 67707},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.07,
  'down_payment': 4300.0,
  'emi': 262}]

In [ ]:
def compute_emis(loans):
    for loan in loans:
        loan['emi'] = loan_emi(
            loan['amount'], 
            loan['duration'], 
            loan['rate']/12, # the CSV contains yearly rates
            loan['down_payment'])

In [ ]:
compute_emis(loans2)

In [ ]:
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'emi': 10034},
 {'amount': 4633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 33196},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'emi': 504},
 {'amount': 983000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'emi': 67707},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.07,
  'down_payment': 4300.0,
  'emi': 262}]

In [ ]:
def write_csv(items, path):
    # Open the file in write mode
    with open(path, 'w') as f:
        # Return if there's nothing to write
        if len(items) == 0:
            return
        
        # Write the headers in the first line
        headers = list(items[0].keys())
        f.write(','.join(headers) + '\n')
        
        # Write one item per line
        for item in items:
            values = []
            for header in headers:
                values.append(str(item.get(header, "")))
            f.write(','.join(values) + "\n")

In [ ]:
loans3 = read_csv('./data/loans3.txt')
compute_emis(loans3)
print(loans3)
write_csv(loans3, './data/emis3.txt')

[{'amount': 45230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0, 'emi': 981}, {'amount': 883000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0, 'emi': 60819}, {'amount': 100000.0, 'duration': 12.0, 'rate': 0.1, 'down_payment': 0.0, 'emi': 8792}, {'amount': 728400.0, 'duration': 120.0, 'rate': 0.12, 'down_payment': 100000.0, 'emi': 9016}, {'amount': 3637400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0, 'emi': 26060}, {'amount': 82900.0, 'duration': 90.0, 'rate': 0.07, 'down_payment': 8900.0, 'emi': 1060}, {'amount': 316000.0, 'duration': 16.0, 'rate': 0.13, 'down_payment': 0.0, 'emi': 21618}, {'amount': 15230.0, 'duration': 48.0, 'rate': 0.08, 'down_payment': 4300.0, 'emi': 267}, {'amount': 991360.0, 'duration': 99.0, 'rate': 0.08, 'down_payment': 0.0, 'emi': 13712}, {'amount': 323000.0, 'duration': 27.0, 'rate': 0.09, 'down_payment': 4720010000.0, 'emi': -193751447}, {'amount': 528400.0, 'duration': 120.0, 'rate': 0.11, 'down_payment': 100000.0, 'emi': 5902}, {'amount': 8633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0, 'emi': 61853}, {'amount': 12900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0, 'emi': 60}]

In [ ]:
with open('./data/emis3.txt', 'r') as f:
    print(f.read())

amount,duration,rate,down_payment,emi
45230.0,48.0,0.07,4300.0,981
883000.0,16.0,0.14,0.0,60819
100000.0,12.0,0.1,0.0,8792
728400.0,120.0,0.12,100000.0,9016
3637400.0,240.0,0.06,0.0,26060
82900.0,90.0,0.07,8900.0,1060
316000.0,16.0,0.13,0.0,21618
15230.0,48.0,0.08,4300.0,267
991360.0,99.0,0.08,0.0,13712
323000.0,27.0,0.09,4720010000.0,-193751447
528400.0,120.0,0.11,100000.0,5902
8633400.0,240.0,0.06,0.0,61853
12900.0,90.0,0.08,8900.0,60

## Exercise - Processing CSV files using a dictionary of lists

We defined the functions `read_csv` and `write_csv` above to convert a CSV file into a list of dictionaries and vice versa. In this exercise, you'll transform the CSV data into a dictionary of lists instead, with one list for each column in the file.

For example, consider the following CSV file:

```
amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300
```

We'll convert it into the following dictionary of lists:

```
{
  amount: [828400, 4633400, 42900, 983000, 15230],
  duration: []120, 240, 90, 16, 48],
  rate: [0.11, 0.06, 0.08, 0.14, 0.07],
  down_payment: [100000, 0, 8900, 0, 4300]
}
```

Complete the following tasks using the empty cells below:

1. Download three CSV files to the folder `data2` using the URLs listed in the code cell below, and verify the downloaded files.
2. Define a function `read_csv_columnar` that reads a CSV file and returns a dictionary of lists in the format shown above. 
3. Define a function `compute_emis` that adds another key `emi` into the dictionary with a list of EMIs computed for each row of data.
4. Define a function `write_csv_columnar` that writes the data from the dictionary of lists into a correctly formatted CSV file.
5. Process all three downloaded files and write the results by creating new files in the directory `data2`.

Define helper functions wherever required.

In [ ]:
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [ ]:
os.listdir()
os.makedirs('./data2/',exist_ok=True)
os.listdir('.')

['data', 'data2', 'lesson 1', 'Lesson 2', 'Lesson_1.ipynb', 'Lesson_2.ipynb']

In [ ]:
urlretrieve(url1, './data2/loans1.txt')
urlretrieve(url2, './data2/loans2.txt')
urlretrieve(url3, './data2/loans3.txt')

('./data2/loans3.txt', <http.client.HTTPMessage at 0x1ed21b7bb90>)

In [ ]:
with open('./data2/loans1.txt') as loan1:
    print(loan1.read())
with open('./data2/loans2.txt') as loan1:
    print(loan1.read())
with open('./data2/loans3.txt') as loan1:
    print(loan1.read())

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200
amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300
amount,duration,rate,down_payment
45230,48,0.07,4300
883000,16,0.14,
100000,12,0.1,
728400,120,0.12,100000
3637400,240,0.06,
82900,90,0.07,8900
316000,16,0.13,
15230,48,0.08,4300
991360,99,0.08,
323000,27,0.09,4720010000,36,0.08,20000
528400,120,0.11,100000
8633400,240,0.06,
12900,90,0.08,8900

In [ ]:
def parse_headers(header_line):
    return header_line.strip().split(',')

def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

def create_item_dict(values, headers):
    result = {}
    values=list(map(list,zip(*values)))
    for value, header in zip(values, headers):
        result[header]=value
    return result

def read_csv_columnar(path):
    result = {}
    line_all=[]
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            values = parse_values(data_line)
            line_all.append(values)    
        result=create_item_dict(line_all,headers)
        
    return result

In [ ]:
def driver(path):
    output=read_csv_columnar(path)
    ret={}
    for key,val in output.items():
        print(key+": "+str(val))
    return output

In [ ]:
ans=driver('./data2/loans1.txt')
#print(ans)

amount: [100000.0, 200000.0, 628400.0, 4637400.0, 42900.0, 916000.0, 45230.0, 991360.0, 423000.0]
duration: [36.0, 12.0, 120.0, 240.0, 90.0, 16.0, 48.0, 99.0, 27.0]
rate: [0.08, 0.1, 0.12, 0.06, 0.07, 0.13, 0.08, 0.08, 0.09]
down_payment: [20000.0, 0.0, 100000.0, 0.0, 8900.0, 0.0, 4300.0, 0.0, 47200.0]

In [ ]:
def write_csv_columnar(output,path):
    # Open the file in write mode
    with open(path, 'w') as f:
        # Return if there's nothing to write
        if len(item) == 0:
            return
        for key,val in output.items():
            str2=key+": "+str(val)
            f.write(str2+"\n")

In [ ]:
for i in range(1,4):
    output = read_csv_columnar('./data2/loans{}.txt'.format(i))
    write_csv_columnar(output, './data2/emis{}.txt'.format(i))

In [ ]:
for i in range(1,4):
    with open('./data2/emis{}.txt'.format(i), 'r') as f:
        print(f.read())

amount: [100000.0, 200000.0, 628400.0, 4637400.0, 42900.0, 916000.0, 45230.0, 991360.0, 423000.0]
duration: [36.0, 12.0, 120.0, 240.0, 90.0, 16.0, 48.0, 99.0, 27.0]
rate: [0.08, 0.1, 0.12, 0.06, 0.07, 0.13, 0.08, 0.08, 0.09]
down_payment: [20000.0, 0.0, 100000.0, 0.0, 8900.0, 0.0, 4300.0, 0.0, 47200.0]

amount: [828400.0, 4633400.0, 42900.0, 983000.0, 15230.0]
duration: [120.0, 240.0, 90.0, 16.0, 48.0]
rate: [0.11, 0.06, 0.08, 0.14, 0.07]
down_payment: [100000.0, 0.0, 8900.0, 0.0, 4300.0]

amount: [45230.0, 883000.0, 100000.0, 728400.0, 3637400.0, 82900.0, 316000.0, 15230.0, 991360.0, 323000.0, 528400.0, 8633400.0, 12900.0]
duration: [48.0, 16.0, 12.0, 120.0, 240.0, 90.0, 16.0, 48.0, 99.0, 27.0, 120.0, 240.0, 90.0]
rate: [0.07, 0.14, 0.1, 0.12, 0.06, 0.07, 0.13, 0.08, 0.08, 0.09, 0.11, 0.06, 0.08]
down_payment: [4300.0, 0.0, 0.0, 100000.0, 0.0, 8900.0, 0.0, 4300.0, 0.0, 4720010000.0, 100000.0, 0.0, 8900.0]

## Using Pandas to Read and Write CSVs

There are some limitations to the `read_csv` and `write_csv` functions we've defined above:

* The `read_csv` function fails to create a proper dictionary if any of the values in the CSV files contains commas
* The `write_csv` function fails to create a proper CSV if any of the values to be written contains commas

When a value in a CSV file contains a comma (`,`), the value is generally placed within double quotes. Double quotes (`"`) in values are converted into two double quotes (`""`). Here's an example:

```
title,description
Fast & Furious,"A movie, a race, a franchise"
The Dark Knight,"Gotham, the ""Batman"", and the Joker"
Memento,A guy forgets everything every 15 minutes

```

Let's try it out.

In [435]:
movies_url = "https://gist.githubusercontent.com/aakashns/afee0a407d44bbc02321993548021af9/raw/6d7473f0ac4c54aca65fc4b06ed831b8a4840190/movies.csv"

In [436]:
urlretrieve(movies_url, 'data/movies.csv')

('data/movies.csv', <http.client.HTTPMessage at 0x1ed21d1dcd0>)

In [438]:
movies = read_csv('./data/movies.csv')
movies

[{'title': ['F', '"', ' ', ' '], 'description': ['a', 'A', 'a', 'a']},
 {'title': ['T', '"', ' ', ' '], 'description': ['h', 'G', 't', 'a']},
 {'title': ['M', 'A'], 'description': ['e', ' ']}]

In [441]:
import pandas as pd
movies_dataframe = pd.read_csv('data/movies.csv')
movies_dataframe

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

In [442]:
movies = movies_dataframe.to_dict('records')

In [443]:
movies

[{'title': 'Fast & Furious', 'description': 'A movie, a race, a franchise'},
 {'title': 'The Dark Knight',
  'description': 'Gotham, the "Batman", and the Joker'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

In [444]:
movies_dict = movies_dataframe.to_dict()
movies_dict

{'title': {0: 'Fast & Furious', 1: 'The Dark Knight', 2: 'Memento'},
 'description': {0: 'A movie, a race, a franchise',
  1: 'Gotham, the "Batman", and the Joker',
  2: 'A guy forgets everything every 15 minutes'}}

In [446]:
write_csv(movies, 'movies2.csv')

'head' is not recognized as an internal or external command,
operable program or batch file.

In [447]:
pd.read_csv('movies2.csv')

,,title,description
Fast & Furious,A movie,a race,a franchise
The Dark Knight,Gotham,"the ""Batman""",and the Joker
Memento,A guy forgets everything every 15 minutes,NaN,NaN

In [448]:
df2 = pd.DataFrame(movies)
df2.to_csv('movies3.csv', index=None)
pd.read_csv('movies3.csv')

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes