In [280]:
#esc+B to add a new cell below
#shift + enter to run
#esc+a to add new cell above

In [281]:
2+3+9

14

In [282]:
99-79

20

In [283]:
100/7

14.285714285714286

In [284]:
100//7

14

In [285]:
23.54 * -1432

-33709.28

In [286]:
100%7

2

In [287]:
10**100

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [288]:
500 * (.2 * 1.25)

125.0

In [289]:
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500
profit_per_bag =  cost_of_ice_bag * profit_margin

In [290]:
total_profit = number_of_bags * profit_per_bag

total_profit

125.0

In [291]:
#error 
net_profit 
# does comments
# net profit was not declared so it'll give error

NameError: name 'net_profit' is not defined

In [ ]:
# Store input data in variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Perform the required calculations
profit_per_bag = cost_of_ice_bag * profit_margin
total_profit = number_of_bags * profit_per_bag

# Display the result
print("The grocery store makes a total profit of $", total_profit)

The grocery store makes a total profit of $ 125.0

In [ ]:
my_favorite_number = 1 # an inline comment
"""This is a multi-line comment.
Write as little or as much as you'd like.

Comments are really helpful for people reading
your code, but try to keep them short & to-the-point.

Also, if you use good variable names, then your code is
often self explanatory, and you may not even need comments!
"""
a_neutral_number = 5

In [ ]:
#boolean operators
my_favorite_number = 1
my_least_favorite_number = 5
a_neutral_number = 3
# Equality check - True
my_favorite_number == 1
# Equality check - False
my_favorite_number == my_least_favorite_number

False

In [ ]:
a_neutral_number != 3

False

In [ ]:
# Greater than check - False
my_favorite_number > my_least_favorite_number

False

In [ ]:
# Less than check - True
my_favorite_number < 10

True

In [ ]:

# Not equal check - True
my_favorite_number != a_neutral_number

True

In [ ]:
# Greater than check - False
my_favorite_number > my_least_favorite_number

False

In [ ]:
# Greater than or equal check - True
my_favorite_number >= 1

True

In [ ]:
# Less than or equal check - False
my_favorite_number + a_neutral_number <= 3

False

In [ ]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10
print("Is the ice bag expensive?", is_ice_bag_expensive)

Is the ice bag expensive? False

In [ ]:
my_favorite_number > 0 and my_favorite_number <= 3

True

In [ ]:
True and False

False

In [ ]:
True and True

True

In [ ]:
a_neutral_number = 3
a_neutral_number == 3 or my_favorite_number < 0

True

In [ ]:
False or False

False

In [ ]:
a,b=2,3
print("a" if a>b else "b")

b

## Header 1
#### Header 2
* A
* this is a markdown
* it helps to style

In [ ]:
from random import random
a=500
print(a)
"Less than zero" if a<0 else "Between 0 and 1" if a>=0 and a<=1 else "Greater than one"

500

'Greater than one'

In [ ]:
plane_cost=5000
total_people_signed_up=29
ticket_cost=200

In [ ]:
amount_received_by_company=total_people_signed_up*ticket_cost

In [ ]:
total_profit=amount_received_by_company-plane_cost
total_profit

800

In [ ]:
my_favorite_color = "blue"
my_favorite_color

'blue'

In [ ]:
color1, color2, color3 = "red", "green", "blue"

In [ ]:
color1

'red'

In [ ]:
color4 = color5 = color6 = "magenta"
color5

'magenta'

In [ ]:
counter = 10
# Same as `counter = counter + 4`
counter += 4
counter

14

In [ ]:
a_variable=None
a_variable=23.67
type(a_variable)

float

In [ ]:
another_number = 4.
another_number

4.0

In [ ]:
#coversions
avogadro_number = 6.02214076e23

avogadro_number

6.02214076e+23

In [ ]:
int(avogadro_number)

602214075999999987023872

In [ ]:
is_today_Sunday = True
type(is_today_Sunday)

bool

In [ ]:
int(is_today_Sunday)

1

In [ ]:
3. + True

4.0

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [ ]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'
my_favorite_pun

'Thanks for explaining the word "many" to me, it means a lot.'

In [ ]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?" 
Dad: "No sun."'''
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?" \nDad: "No sun."'

In [ ]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

In [ ]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

In [ ]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [ ]:
len(multiline_string)

3

In [ ]:
list(multiline_string)

['a', '\n', 'b']

In [ ]:
today = "Saturday"
today[3]

'u'

In [ ]:
today[5:8]

'day'

In [ ]:
today.lower()

'saturday'

In [ ]:
'Sun' in today

False

In [ ]:
full_name = "Derek O'Brien"
greeting = "Hello"
greeting + " "+ full_name

"Hello Derek O'Brien"

In [ ]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [ ]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "
a_long_line_stripped = a_long_line.strip()
a_long_line

'       This is a long line with some space before, after,     and some space in the middle..    '

In [ ]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

In [ ]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [ ]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

In [ ]:
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin)

'If a grocery store sells ice bags at $ 1.25, with a profit margin of 0.2'

In [ ]:
str(True)

'True'

In [ ]:
fruits = ['apple', 'banana', 'cherry']

In [ ]:
fruits[0]

'apple'

In [ ]:
fruits[-1]

'cherry'

In [ ]:
fruits.append('dates')
fruits

['apple', 'banana', 'cherry', 'dates']

In [ ]:
fruits.insert(1, 'banana')
fruits

['apple', 'banana', 'banana', 'cherry', 'dates']

In [ ]:
fruits.remove('banana')
fruits

['apple', 'banana', 'cherry', 'dates']

In [ ]:
fruits.remove('blueberry')
fruits

ValueError: list.remove(x): x not in list

In [ ]:
fruits.remove('banana','cherry')
fruits

TypeError: list.remove() takes exactly one argument (2 given)

In [ ]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [ ]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [ ]:
len(a_list)

6

In [ ]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

In [ ]:
fruits.pop(1)

'banana'

In [ ]:
'pineapple' in fruits

False

In [ ]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']
more_fruits

['apple', 'cherry', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [ ]:
more_fruits_copy = more_fruits.copy()
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits

['apple', 'cherry', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [ ]:
a=[1,2,3,4]
b=[]
b.append(a.pop())
b

[4]

In [ ]:
#Tuples
fruits = ('apple', 'cherry', 'dates')
len(fruits)

3

In [ ]:
single_element_tuple = 4,
single_element_tuple

(4,)

In [ ]:
tuple(['one', 'two'])

('one', 'two')

In [ ]:
list(('Athos', 'Porthos'))

['Athos', 'Porthos']

In [ ]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [ ]:
a_tuple.count(23)

2

In [ ]:
# Dictionary
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [ ]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [ ]:
type(person1)

dict

In [ ]:
person2['name']

'Jane Judy'

In [ ]:
If a key isn't present in the dictionary, then a `KeyError` is *thrown*.

SyntaxError: unterminated string literal (detected at line 1) (2967131891.py, line 1)

In [ ]:
person1['address'] = '1, Penny Lane'
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, Penny Lane'}

In [ ]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married', 'address'])

In [ ]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True), ('address', '1, Penny Lane')])

In [ ]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True), ('address', '1, Penny Lane')])

In [ ]:
list(person1.values())[0]

'John Doe'

In [ ]:
# If else
a_number = 33
if a_number % 2 == 0:
    print("We're inside an if block")
    print('The given number {} is even.'.format(a_number))

In [ ]:
if a_number % 2 == 0:
    print('The given number {} is even.'.format(a_number))
else:
    print('The given number {} is odd.'.format(a_number))

The given number 33 is odd.

In [ ]:
the_3_musketeers = ('Athos', 'Porthos', 'Aramis')
a_candidate = "D'Artagnan"
if a_candidate in the_3_musketeers:
    print("{} is a musketeer".format(a_candidate))
else:
    print("{} is not a musketeer".format(a_candidate))

D'Artagnan is not a musketeer

In [ ]:
today = 'Wednesday'
if today == 'Sunday':
    print("Today is the day of the sun.")
elif today == 'Monday':
    print("Today is the day of the moon.")
elif today == 'Tuesday':
    print("Today is the day of Tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of Odin, the supreme diety.")
elif today == 'Thursday':
    print("Today is the day of Thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of Frigga, the goddess of beauty.")
elif today == 'Saturday':
    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.

In [ ]:
if '':
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to False

In [ ]:
# if statement
result = if a_number % 2 == 0: 
    'even'
else:
    'odd'

SyntaxError: invalid syntax (26250527.py, line 2)

In [ ]:

a_number = 33
result = 'even' if a_number % 2 == 0 else 'odd'
result

'odd'

In [ ]:
#pass statement
if a_number % 2 == 0:
    pass
elif a_number % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2'.format(a_number))

33 is divisible by 3 but not divisible by 2

In [ ]:
#loops
result = 1
i = 1

while i <= 100 :
    result = result * i
    i = i+1

print('The factorial of 100 is: {}'.format(result))

The factorial of 100 is: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
%%time
#time measurement
result = 1
i = 1

while i <= 1000:
    result *= i # same as result = result * i
    i += 1 # same as i = i+1

print(result)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
CPU times: total: 0 ns
Wall time: 1.1 ms

In [ ]:
line = '*'
max_length = 10

while len(line) < max_length:
    print(line)
    line += "*"
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
line='*'
maxlen=5
gap=maxlen-1
while len(line)<maxlen*2-2:
    newg=gap
    while newg>=0:
        print(' ', end='')  # Use the end parameter to avoid new line
        newg-=1  
    print(line)
    line+="**"
    gap-=1

while len(line)>0:
    newg=0
    while newg<=gap:
        print(' ', end='')  # Use the end parameter to avoid new line
        newg+=1  
    print(line)
    line=line[:-2]
    gap+=1

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *

In [ ]:
# INFINITE LOOP - INTERRUPT THIS CELL

result = 1
i = 1

while i > 0 : # wrong condition
    result *= i
    i += 1

KeyboardInterrupt:

In [ ]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i
    
print('i:', i)
print('result:', result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
Multiplying with 9
Skipping 10
Multiplying with 11
Skipping 12
Multiplying with 13
Skipping 14
Multiplying with 15
Skipping 16
Multiplying with 17
Skipping 18
Multiplying with 19
Skipping 20
i: 20
result: 654729075

In [ ]:
# Looping over a dictionary
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

In [ ]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)

### Iterating using `range` and `enumerate`

The `range` function is used to create a sequence of numbers that can be iterated over using a `for` loop. It can be used in 3 ways:
 
* `range(n)` - Creates a sequence of numbers from `0` to `n-1`
* `range(a, b)` - Creates a sequence of numbers from `a` to `b-1`
* `range(a, b, step)` - Creates a sequence of numbers from `a` to `b-1` with increments of `step`

Let's try it out.

In [ ]:
for i in range(3, 14, 2):
    print(i)

3
5
7
9
11
13

In [ ]:
persons = [{'name': 'John', 'sex': 'Male'}, {'name': 'Jane', 'sex': 'Female'}]

for person in persons:
    for key in person:
        print(key, ":", person[key])
    print(" ")

name : John
sex : Male

name : Jane
sex : Female

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday apple
Monday banana
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava