<a href="https://colab.research.google.com/github/Sefayet-Alam/Machine_Learning_And_AI/blob/main/2003121_lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print("Welcome to numerical sessional")

Welcome to numerical sessional

In [11]:
name ="Arafat"
salary=60000
age=22

print("Mr. ",name,"is now at",age,".His salary is",salary)

Mr.  Arafat is now at 22 .His salary is 60000

In [10]:
print(type(name),type(salary))

<class 'str'> <class 'float'>

In [13]:
complex_num1=1+2j
complex_num2=2-3j
complex_ans=complex_num1*complex_num2
print(complex_ans)
print(abs(complex_ans))

(8+1j)
8.06225774829855

In [21]:
#conditionals: if,elif,else
#maintain indentation

food_item=input('Enter a food item no: ')
food_item=int(food_item)

coupon=0

if food_item==101:
  print("You have a bread.")

elif food_item==102:
  print("You take a cup of coffee")
  coupon+=50

else:
  print("you have nothing")

print(coupon)

Enter a food item no: 102
You take a cup of coffee
50

In [30]:
#list in python

rolls = {2003121,2003135,2003150}
name={"Sefayet","Mr. Y","Mr. X"}
age={21,25,30}

print(type(age))

CSE_20={"Sefayet",2003121,"Mr. X",21,1+2j}

print(CSE_20)

<class 'set'>
{2003121, 'Sefayet', 'Mr. X', 21, (1+2j)}

In [33]:
#loop.

for roll in rolls:
  print(roll,end=" \n")

2003121
2003150
2003135

In [45]:
#python while loop

def Factorial(n):
  curr=1
  for i in range(1,n+1):
    curr*=i
  return curr

def Factorial2(n):
  if(n==0): return 1
  if(n==1): return 1
  return n*Factorial2(n-1)

while True:
  number=int(input("Enter a number: "))
  if(number<0):
    break
  fact=Factorial2(number)
  print("Factorial of number",number," is: ",fact)

Enter a number: 100
Factorial of number 100  is:  93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000
Enter a number: -10

In [41]:
#string catanation
F_name="Sefayet"
L_name=" Alam"
Full_name=F_name+L_name
print(Full_name)

Sefayet Alam